{% extends "pos/base.html" %}

{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Department List</h4>
            <div class="text-start">
                {% if perms.app.save_department %}
                <button class="btn btn-primary bg-success btn-sm rounded-10" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="30%">
                    <col width="30%">
                    <col width="15%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Department Name</th>
                        <th class="text-center py-1">Description</th>
                        <th class="text-center py-1">Status</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Dep in department %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ Dep.id }}</td>
                        <td class="px-2 py-1 text-start">{{ Dep.department_name }}</td>
                        <td class="px-2 py-1 text-start">{{ Dep.description }}</td>
                        <td class="px-2 py-1 text-center">
                            {% if Dep.status == 1 %}
                            <span class="badge bg-primary rounded-pill px-3">Active</span>
                            {% else %}
                            <span class="badge bg-secondary rounded-pill px-3">Inactive</span>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            {% if perms.app.edit_department %}
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ Dep.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            {% endif %}
                            {% if perms.app.delete_department %}
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ Dep.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Department", "{% url 'manage_department-page' %}");
        });
        $('.edit-data').click(function() {
            uni_modal("Edit Department", "{% url 'manage_department-page' %}?id=" + $(this).attr('data-id'));
        });
        $('.delete-data').click(function() {
            var id = $(this).attr('data-id');
            _conf("Are you sure to delete this Department?", "delete_department", [id]);
        });
    });

    function delete_department(id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-department' %}",
            method: "POST",
            data: {
                id: id
            },
            dataType: "json",
            error: function(err) {
                console.log(err);
                alert_toast("An error occurred.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (resp.status === 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occurred.", 'error');
                    end_loader();
                }
            }
        });
    }
</script>

{% endblock ScriptBlock %}